{
  "presets": [["@babel/env"]],
  "plugins": [
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
        // "react-bootstrap": {
        //   "transform": "react-bootstrap/${member}",
        //   "preventFullImport": true
        // }
      }
    ]
  ]
}
